/* Стили для кнопки */
.dropbtn {
    background-color: #4CAF50; /* Зеленый цвет */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Стили для кнопки при наведении */
.dropbtn:hover {
    background-color: #45a049;
}

/* Контейнер для выпадающего меню */
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

/* Стили для выпадающего меню */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

/* Стили для ссылок в выпадающем меню */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Стили для ссылок при наведении */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

/* Показываем выпадающее меню при наведении */
.dropdown:hover .dropdown-content {
    display: block;
}
